
test_list_slice.py
test_p20_heights_VWR_1.5mL_tube.py
OT-2.steps.make.qPCR.standards.txt
Does.amplifyt.plate.def.work.py
210305_create_primer_matrix.txt
210310_create_primer_matrix.txt
Exp800.06.OT-2.commands.txt
qPCR.test.samples.with.std.curve.txt
Exp800.04 create qPCR std curve with unknown pos control/exp800.04_create_qPCR_std_curve_OT2_lines.txt
Exp800.07 test qPCR samples (11 reps)/15ul.OT-2.instruction.list.txt
Exp800.07 test qPCR samples (11 reps)/IAC_vs_pos_control_OT-2_moves.txt
Exp800.05 create qPCR primer matrix/create_primer_matrix_fuel_qPCR.py
Exp800.05 create qPCR primer matrix/create_primer_matrix_IAC_in.Lspp.py
Exp800.05 create qPCR primer matrix/create_primer_matrix_Leg.spp_qPCR.py
Exp800.06 create qPCR probe matrix/IAC_Lspp.background.probe_matrix.py
Exp800.06 create qPCR probe matrix/LAB_IAC_probe_matrix.py
Exp800.06 create qPCR probe matrix/LAB_probe_matrix.py
Exp800.06 create qPCR probe matrix/Leg_spp_probe_matrix.py
Exp800.07 test qPCR samples (11 reps)/IAC_vs_Pos_ctrl_conc.std.curves.py
Exp800.07 test qPCR samples (11 reps)/IAC_vs_Pos_ctrl_conc.std.curves.py
Exp800.07 test qPCR samples (11 reps)/IAC_vs_Pos_ctrl_conc.std.curves.py
Exp800.07 test qPCR samples (11 reps)/IAC_vs_Pos_ctrl_conc.std.curves.py
Exp800.07 test qPCR samples (11 reps)/IAC_vs_Pos_ctrl_conc.std.curves.py
Exp800.07 test qPCR samples (11 reps)/IAC_vs_Pos_ctrl_conc.std.curves.py
Exp800.14 samples into lyophilized tubes/Exp800.14 Lyophilized_strip_tubes_20ul_straight_from_samples.py
